.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*----------------------------------- ESTILOS GLOBALES --------------------------------------*/
:root {
  --color-morado1: #4F46E5;
  --color-morado2: #6366F1;
  --color-morado3: #818CF8;
  --color-morado4: #A5B4FC;
  --color-gris1: #6C757D;
  --color-gris2: #F5F5F5;
}

